asgiref==3.11.1
cryptography==46.0.6
dj-database-url==3.1.0
Django==6.0.2
django-cors-headers==4.9.0
django-modelcluster==6.4.1
django-ninja==1.6.2
django-ninja-extra==0.31.4
pygbif==0.6.6
PyJWT==2.12.1
