/* Primary Color - Deep Teal */
/* hsl(168, 100%, 21%) */
/* Darker shade for accents */
/* Secondary Color - Soft Green */
/* Hover states */
/* Active states */
/* UI highlights over dark backgrounds */
/* UI highlights over dark text */
/* Backgrounds */
/* Additional Secondary Colors */
/* hsl(213, 56%, 47%) */
/* hsl(353, 61%, 56%) */
/* Positive Messages - Vibrant Green */
/* hsl(134, 61%, 41%) */
/* Background for positive states */
/* Information Messages - Calm Blue */
/* hsl(188, 71%, 41%) */
/* Background for information messages */
/* Warning Messages - Soft Amber */
/* hsl(45, 100%, 50%) */
/* Background for warnings */
/* Critical Messages - Strong Red */
/* hsl(354, 70%, 47%) */
/* Background for critical states */
/* Background only */
.collection-list-posts {
  grid-column-gap: 1.5em;
  grid-row-gap: 3.4em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 991px) {
  .collection-list-posts {
    grid-column-gap: 1.13em;
    grid-row-gap: 3em;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 767px) {
  .collection-list-posts {
    grid-row-gap: 2em;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 479px) {
  .collection-list-posts {
    grid-row-gap: 1.5em;
  }
}

.collection-list-posts.large {
  grid-template-columns: 1fr;
}

.block-post {
  background-color: white;
  border-radius: .87em;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  box-shadow: 0 15px 25px -10px #00693e0d;
}

.block-post.large {
  grid-column-gap: 0em;
  grid-row-gap: 0em;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

@media screen and (max-width: 767px) {
  .block-post.large {
    grid-template-columns: 1fr;
  }
}

.collection-list-wrapper-posts.large {
  margin-bottom: 3.4em;
}

@media screen and (max-width: 991px) {
  .collection-list-wrapper-posts.large {
    margin-bottom: 3em;
  }
}

@media screen and (max-width: 767px) {
  .collection-list-wrapper-posts.large {
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 479px) {
  .collection-list-wrapper-posts.large {
    margin-bottom: 1.5em;
  }
}

.image-post-thumbnail {
  object-fit: cover;
  border-radius: .87em;
  width: 100%;
  height: 15em;
}

@media screen and (max-width: 767px) {
  .image-post-thumbnail {
    height: 50vw;
  }
}

.image-post-thumbnail.large {
  height: auto;
  max-height: 40em;
  display: block;
}

@media screen and (max-width: 991px) {
  .image-post-thumbnail.large {
    height: 28vw;
  }
}

@media screen and (max-width: 767px) {
  .image-post-thumbnail.large {
    height: 50vw;
  }
}

.link-post-thumbnail {
  width: 100%;
}

.link-post-thumbnail.large {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
}

.post {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 2.5em 2.8em;
  display: flex;
}

@media screen and (max-width: 479px) {
  .post {
    padding: 1.8em 2.2em;
  }
}

.post.large {
  justify-content: center;
  padding: 4.3em 4.5em;
}

@media screen and (max-width: 991px) {
  .post.large {
    padding: 3.4em 3.2em;
  }
}

@media screen and (max-width: 479px) {
  .post.large {
    padding: 1.8em 2.2em;
  }
}

.link-heading-post {
  margin-bottom: 1.3em;
  text-decoration: none;
}

.link-heading-post.large {
  margin-bottom: 1.4em;
}

.date {
  color: #14171880;
  letter-spacing: .05em;
  text-transform: uppercase;
  margin-bottom: .8em;
  font-family: "IBM Plex Mono", monospace;
  font-size: .7em;
  font-weight: 500;
  line-height: 1.3;
}

.paragraph-post {
  margin-bottom: 1.4em;
}

.paragraph-post.large {
  max-width: 25em;
  margin-bottom: 1.6em;
}

.post-body {
  box-sizing: border-box;
  background-color: white;
  border-radius: .87em;
  width: 100%;
  padding: 4em 13%;
  box-shadow: 0 15px 25px -10px #00693e0d;
}

@media screen and (max-width: 991px) {
  .post-body {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media screen and (max-width: 767px) {
  .post-body {
    padding-top: 2.9em;
    padding-bottom: 2.9em;
  }
}

@media screen and (max-width: 479px) {
  .post-body {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
  }
}

.image-main-post {
  object-fit: cover;
  border-radius: .87em;
  width: 100%;
}
